.search-container{
    display: flex;
    position: fixed;
    top: 5vh;
    flex-direction: row;
    width: 90vw;
   
    z-index: 99999;
    height: 5vh;
    padding-left: 2em;
    //justify-content: center;
    align-items: center;
    .searchbar{
        margin: .2em;
    }
    input{
        height: 4vh;
        width: 15vw;
        border: none;
    }
    button{
       height: 4vh;
       width: 5vw;
        background-color: #007bff;
        color: white;
        border: none;
      
        cursor: pointer;
    }   
    .filter{
        display: flex;
        gap: 1em;
        
    }
    select{
        padding: .59rem;
    }
    
}